.column {
  height: 100%;
  max-height: 45rem;
  width: 20%;
  max-width: 10rem;
  position: relative;
  @include pseudo-after();

  &:after {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 45vh;
    @include central-x();
    border-radius: 100%;
    opacity: 0.001;
    transition: all 0.3s ease-out;

    .loading & {
      animation: loading-central-x 1.5s infinite;
      opacity: 0.999;
    }
  }

  &:first-of-type:after {
    background: var(--green-mint);
    animation-delay: 0s;
  }

  &:nth-of-type(2):after {
    background: var(--green);
    animation-delay: 0.1s;
  }

  &:nth-of-type(3):after {
    background: var(--green-dark);
    animation-delay: 0.2s;
  }

  &:nth-of-type(4):after {
    background: var(--pink);
    animation-delay: 0.3s;
  }

  &:nth-of-type(5):after {
    background: var(--peach);
    animation-delay: 0.4s;
  }

  @media screen and (min-width: 375px) {
    max-height: 53rem;
  }

  @media screen and (min-width: 425px) {
    max-height: 60rem;
  }

  @media screen and (min-width: $columns) {
    max-height: 71rem;
  }

  @media screen and (min-width: $tablet) {
    max-width: 15rem;
    max-height: 106.5rem;
  }

  @media screen and (min-width: $desktop) {
    max-width: 20rem;
    max-height: 142rem;
  }

  &--ll {
    .shape {
      &--peach-trapezium {
        --top: 0;
      }

      &--pink-moon {
        --top: 7.042%;
      }

      &--green {
        &-trapezium {
          --top: 17.465%;
        }

        &-rectangle {
          --top: 69.859%;
        }
      }
    }
  }

  &--lc {
    .shape {
      &--peach {
        &-moon {
          --top: 7.042%;
        }

        &-triangle {
          --top: 36.197%;
        }

        &-rectangle {
          --top: 69.859%;
        }
      }

      &--mint-triangle {
        --top: 32.706%;
      }
    }
  }

  &--cc {
    .shape {
      &--peach-trapezium {
        --top: 0;
      }

      &--green-triangle {
        --top: 32.706%;
      }

      &--mint-trapezium {
        --top: 69.859%;
      }

      &--pink-moon {
        --top: 72.264%;
      }
    }
  }

  &--rc {
    .shape {
      &--peach {
        &-triangle {
          --top: 0;
        }

        &-trapezium {
          --top: 90.163%;
        }
      }

      &--green-triangle {
        --top: 0;
      }

      &--mint-ring {
        --top: 69.859%;
      }

      &--pink-moon {
        --top: 72.264%;
      }
    }
  }

  &--rr {
    .shape {
      &--mint {
        &-triangle {
          --top: 0;
        }

        &-trapezium {
          --top: 37.206%;
        }

        &-rectangle {
          --top: 65.352%;
        }
      }

      &--green {
        &-triangle {
          --top: 0;
        }

        &-ring {
          --top: 37.206%;
        }
      }

      &--pink-moon {
        --top: 39.436%;
      }
    }
  }
}
