.column {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  @include pseudo-after();
  @include parallax-fade(1);
  will-change: opacity, transform;
  @include hwa();

  &:after {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 45vh;
    @include central-x();
    border-radius: 100%;
    opacity: 0.001;
    animation: bubble-loading 1.5s infinite;
    transition: opacity 0.3s ease-out;
    will-change: transform, opacity;

    .loading & {
      opacity: 0.999;
    }
  }

  &:first-of-type {
    left: 0;

    &:after {
      background: var(--green-mint);
      animation-delay: 0s;
    }
  }

  &:nth-of-type(2) {
    left: 20%;

    &:after {
      background: var(--green);
      animation-delay: 0.1s;
    }
  }

  &:nth-of-type(3) {
    left: 40%;

    &:after {
      background: var(--green-dark);
      animation-delay: 0.2s;
    }
  }

  &:nth-of-type(4) {
    left: 60%;

    &:after {
      background: var(--pink);
      animation-delay: 0.3s;
    }
  }

  &:nth-of-type(5) {
    left: 80%;

    &:after {
      background: var(--peach);
      animation-delay: 0.4s;
    }
  }

  &--ll {
    .shape {
      &--peach-trapezium {
        --top: 0;
      }

      &--pink-moon {
        --top: 7.042%;
      }

      &--green {
        &-trapezium {
          --top: 17.465%;
        }

        &-rectangle {
          --top: 69.859%;
        }
      }
    }
  }

  &--lc {
    .shape {
      &--peach {
        &-moon {
          --top: 7.042%;
        }

        &-triangle {
          --top: 36.197%;
        }

        &-rectangle {
          --top: 69.859%;
        }
      }

      &--mint-triangle {
        --top: 32.636%;
      }
    }
  }

  &--cc {
    .shape {
      &--peach-trapezium {
        --top: 0;
      }

      &--green-triangle {
        --top: 32.636%;
      }

      &--mint-trapezium {
        --top: 69.859%;
      }

      &--pink-moon {
        --top: 72.264%;
      }
    }
  }

  &--rc {
    .shape {
      &--peach {
        &-triangle {
          --top: 0;
        }

        &-trapezium {
          --top: 90.163%;
        }
      }

      &--green-triangle {
        --top: 0;
      }

      &--mint-ring {
        --top: 69.859%;
      }

      &--pink-moon {
        --top: 72.264%;
      }
    }
  }

  &--rr {
    .shape {
      &--mint {
        &-triangle {
          --top: 0;
        }

        &-trapezium {
          --top: 37.206%;
        }

        &-rectangle {
          --top: 65.352%;
        }
      }

      &--green {
        &-triangle {
          --top: 0;
        }

        &-ring {
          --top: 37.116%;
        }
      }

      &--pink-moon {
        --top: 39.356%;
      }
    }
  }
}
