.shape {
  @include hwa();
  position: absolute;
  top: var(--top);
  left: 0;
  visibility: hidden;
  will-change: opacity, transform;

  &--animated {
    visibility: inherit;
  }

  .routing & {
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0.001;
    transform: scale(0.5);
  }
}
