.shape {
  @include hwa();
  position: absolute;
  top: var(--top);
  left: 0;
  visibility: hidden;
  will-change: opacity, transform;

  &.animated {
    visibility: inherit;
  }

  .scroll & {
    // @include stagger(1, 7, 0s);
    @include parallax();
    // will-change: transform;
    transition-duration: 0.1s;
    transform: translateY(calc(var(--scroll) * calc(var(--factor) * calc(var(--ratio) * calc(var(--columns) / 3.5 * 0.1rem)))));
  }
}
