.timeline {
  margin-top: 6rem;
  position: relative;
  @include pseudo-before();

  &:before {
    width: 0.2rem;
    height: 100%;
    top: 0rem;
    @include central-x();
    background: var(--grey-light);
  }

  * {
    margin: 0;
  }

  &__hour {
    height: 16rem;
    position: relative;
    @include pseudo-blocks();

    &:before,
    &:after {
      @include central-x();
      background: var(--grey-light);
      border-radius: 50%;
    }

    &:before {
      width: 1.6rem;
      height: 1.6rem;
      top: -0.8rem;
    }

    h2 {
      position: absolute;
      width: 100%;
      top: -1.5rem;
    }

    &:not(:last-of-type) {
      h2,
      h2 time {
        @include pseudo-blocks();
      }

      h2:before,
      h2:after,
      h2 time:after {
        @include timeline-dot();
        @include central-x();
      }

      h2 {
        &:before {
          top: 9rem;
        }

        &:after {
          top: 13rem;
        }

        time {
          display: block;
          width: 100%;

          &:before {
            width: calc(50% - 7rem);
            height: 0.2rem;
            background: var(--grey-light);
            top: 1.5rem;
          }

          &:after {
            top: 5rem;
          }
        }
      }
    }

    &:first-of-type {
      h2 time:before {
        content: none;
      }
    }

    &:nth-of-type(12) {
      .timeline__event-info h3,
      .timeline__event-info p,
      .timeline__event-icon {
        opacity: 0.999;
      }

      .timeline__event--right {
        .timeline__event-info h3,
        .timeline__event-info p {
          transform: translateX(1rem);
        }
      }

      .timeline__event--left {
        .timeline__event-info h3,
        .timeline__event-info p {
          transform: translateX(-1rem);
        }
      }

      .timeline__event-icon {
        transform: translateY(-50%) scale(1);
      }
    }

    &:nth-of-type(odd) h2 {
      time:before {
        left: 7rem;
      }
    }

    &:nth-of-type(even) h2 {
      text-align: right;

      time:before {
        right: 7rem;
      }
    }

    &:last-of-type {
      height: auto;
    }
  }

  &__event {
    width: 50%;
    height: 1rem;
    @include pseudo-after();

    main .inner & {
      position: absolute;
    }

    &:after {
      @include timeline-dot();
      @include central-y();
      background: var(--green-dark);
      z-index: 5;
    }

    &-info {
      padding: 6rem 0;
      z-index: 10;
      position: absolute;
      @include central-y();

      h3,
      p {
        will-change: opacity, transform;
        opacity: var(--scroll);
      }
    }

    &-icon {
      width: 4rem;
      height: 4rem;
      background: var(--green-mint);
      border-radius: 50%;
      @include central-y();
      border: 0.1rem solid var(--grey-light);
      transform: translateY(-50%) scale((calc(1 * var(--scroll))));
      transform-origin: 50% 50%;
      will-change: transform;

      main .inner & {
        position: absolute;
      }

      img {
        width: auto;
        height: 2rem;
        @include central();
      }

      &--tall img {
        height: 2.4rem;
      }
    }

    &--right {
      left: 50%;

      &:after {
        left: -0.5rem;
      }

      .timeline__event-info {
        padding-left: 2rem;

        h3,
        p {
          transform: translateX(calc(1rem * var(--scroll)));
        }
      }

      .timeline__event-icon {
        left: -2rem;
      }
    }

    &--left {
      right: 50%;
      text-align: right;

      &:after {
        right: -0.5rem;
      }

      .timeline__event-info {
        padding-right: 2rem;

        h3,
        p {
          transform: translateX(calc(-1rem * var(--scroll)));
        }
      }

      .timeline__event-icon {
        right: -2rem;
      }
    }

    &--on-the-hour {
      top: -0.5rem;
    }

    &--quarter-past {
      top: 3rem;
    }

    &--half-past {
      top: 7.5rem;
    }

    &--quarter-to {
      top: 11.5rem;
    }
  }
}
