.timeline {
  margin-top: 6rem;
  position: relative;
  @include pseudo-before();

  &:before {
    width: 0.2rem;
    height: 100%;
    top: 0rem;
    @include central-x();
    background: var(--grey-light);
  }

  * {
    margin: 0;
  }

  &__hour {
    height: 16rem;
    position: relative;
    @include pseudo-before();

    &:before {
      @include central-x();
      background: var(--grey-light);
      border-radius: 50%;
    }

    &:before {
      width: 1.6rem;
      height: 1.6rem;
      top: -0.8rem;
    }

    &-offset,
    &-marker {
      display: block;
      pointer-events: none;
      text-indent: -99999rem;
      position: absolute;
    }

    &-offset {
      height: 25vh;
      top: -25vh;
      left: 0;
    }

    &-marker {
      @include pseudo-blocks();
    }

    &-marker,
    &-marker:before,
    &-marker:after {
      @include timeline-dot();
      @include central-x();
    }

    &-marker {
      top: 3.5rem;

      &:before {
        top: 4rem;
      }

      &:after {
        top: 8rem;
      }
    }

    h2 {
      position: absolute;
      width: 100%;
      top: -1.5rem;
      @include pseudo-before();
      opacity: var(--disappear);
      will-change: opacity;

      &:before {
        width: calc(50% - 7rem);
        height: 0.2rem;
        background: var(--grey-light);
        top: 1.5rem;
      }
    }

    &:first-of-type,
    &:last-of-type {
      h2:before {
        content: none;
      }
    }

    &:first-of-type,
    &:nth-of-type(12) {
      .timeline__event-info h3,
      .timeline__event-info p,
      .timeline__event-icon {
        opacity: 0.999;
      }

      .timeline__event--right {
        .timeline__event-info h3,
        .timeline__event-info p {
          transform: translateX(1rem);
        }
      }

      .timeline__event--left {
        .timeline__event-info h3,
        .timeline__event-info p {
          transform: translateX(-1rem);
        }
      }

      .timeline__event-icon {
        transform: translateY(-50%) scale(1);
      }
    }

    &:nth-of-type(odd) h2:before {
      left: 7rem;
    }

    &:nth-of-type(even) h2 {
      text-align: right;

      &:before {
        right: 7rem;
      }
    }

    &:last-of-type {
      height: auto;
    }
  }

  &__event {
    width: 50%;
    height: 1rem;
    @include pseudo-after();
    position: absolute;

    &:after {
      @include timeline-dot();
      @include central-y();
      background: var(--green-dark);
      z-index: 5;
    }

    &-info,
    &-icon,
    &-icon img {
      position: absolute;
      @include central-y();
    }

    &-info {
      padding: 25vh 0;
      z-index: 10;
      width: 100%;

      h3,
      p {
        will-change: opacity, transform;
        opacity: var(--appear);
      }
    }

    &-icon {
      width: 4rem;
      height: 4rem;
      background: var(--green-mint);
      border-radius: 50%;
      @include central-y();
      border: 0.1rem solid var(--grey-light);
      transform: translateY(-50%) scale((calc(1 * var(--appear))));
      transform-origin: 50% 50%;
      will-change: transform;

      img {
        width: auto;
        height: 2rem;
        @include central();
      }

      &--tall img {
        height: 2.4rem;
      }
    }

    &--right {
      left: 50%;

      &:after {
        left: -0.5rem;
      }

      .timeline__event-info {
        padding-left: 2rem;

        h3,
        p {
          transform: translateX(calc(1rem * var(--appear)));
        }
      }

      .timeline__event-icon {
        left: -2rem;
      }
    }

    &--left {
      right: 50%;
      text-align: right;

      &:after {
        right: -0.5rem;
      }

      .timeline__event-info {
        padding-right: 2rem;

        h3,
        p {
          transform: translateX(calc(-1rem * var(--appear)));
        }
      }

      .timeline__event-icon {
        right: -2rem;
      }
    }

    &--on-the-hour {
      top: -0.5rem;
    }

    &--quarter-past {
      top: 3rem;
    }

    &--half-past {
      top: 7.5rem;
    }

    &--quarter-to {
      top: 11.5rem;
    }
  }
}
