.vector {
  &--target {
    visibility: hidden;
  }

  &--mint {
    fill: var(--green-mint);
  }

  &--green {
    fill: var(--green-dark);
  }

  &--peach {
    fill: var(--peach);
  }

  &--pink {
    fill: var(--pink);
  }

  &--black {
    fill: var(--black);
  }

  &--blank {
    fill: none;
  }
}
