@keyframes bubble-loading {
  0%,
  100% {
    transform: translateX(-50%) scale(1);
  }

  50% {
    transform: translateX(-50%) scale(2.5);
  }
}

@keyframes background-loading {
  0% {
    transform: scale(0.5) translate3d(0, 5rem, 0);
    opacity: 0.001;
  }
  100% {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 0.999;
  }
}

@keyframes spin-central {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin-central-x {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes spin-central-y {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
