footer {
  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 11.5rem;
    margin-left: auto;
  }

  @media screen and (max-width: $tablet - 1) {
    small span {
      display: block;
    }
  }
}
