fieldset,
button[type="submit"] {
  margin-top: 6rem;
}

fieldset {
  position: relative;
  min-inline-size: unset;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
.form-input--checkbox,
.form-input--radio {
  margin: 1.5rem 0 3rem;

  label:last-of-type & {
    margin-bottom: 0;
  }
}

input,
textarea,
.form-input--checkbox__indicator,
.form-input--radio__indicator {
  background: var(--white);
  border: 0.2rem solid var(--border);
  border-radius: 0.5rem;
}

input,
textarea,
.form-input--checkbox,
.form-input--radio {
  &:hover,
  &:hover span {
    border-color: var(--grey-light);
  }

  &:active,
  &:active span {
    border-color: var(--green);
  }
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
  display: block;
  width: 100%;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  font-weight: 300;

  &:focus {
    border-color: var(--green);
  }
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  left: -99999rem;
}

textarea {
  resize: vertical;
  min-height: 8rem;
}

.form-input {
  @include hwa();
  display: block;
  transition: max-height 0.35s ease, font-weight 0.35s ease;
  overflow: hidden;
  margin: 0;

  &--hidden {
    // margin-top: 0;
    max-height: 0;
  }

  &--shown {
    max-height: calc(var(--height) * 0.1rem);
  }

  &:hover {
    font-weight: 650;
  }
}

.form-input--checkbox,
.form-input--radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 3rem;

  &__indicator {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    padding: 0.2rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 1.5rem;
    border-radius: 100%;
    @include pseudo-before();
  }
}

.form-input--radio {
  width: calc(50% - 1.5rem);

  &__indicator {
    padding: 0.5rem;

    &:before {
      width: 2rem;
      height: 2rem;
      top: 1rem;
      left: 1rem;
      border-radius: 50%;
      background: var(--green);
      transform: scale(0);
      transition: all 0.35s ease;
    }
  }

  input:checked + span {
    &:before {
      transform: scale(1);
    }
  }
}

.form-group {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
