html,
body {
  height: 100%;
}

body {
  background: #fff;
  color: var(--body);
}

main {
  position: relative;
  min-height: 71rem;

  > aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media screen and (min-width: $max) {
      width: 120rem;
      @include central-x();
    }
  }

  .inner {
    transition: all 0.7s ease;
    will-change: opacity;
    opacity: 0.999;

    .routing & {
      opacity: 0.001;
      transition-duration: 0.2s;
    }
  }
}

.wrapper {
  overflow: hidden;
  margin: 0 auto;
}

.inner {
  max-width: 120rem;
  min-width: 32rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 1.5rem 3rem;

  main & {
    padding: 3rem;
    max-width: 76rem;
    @include pseudo-before();

    > * {
      position: relative;
    }

    &:before {
      top: 1.5rem;
      left: 1.5rem;
      width: calc(100% - 3rem);
      height: calc(100% - 3rem);
      background: rgba(255, 255, 255, 0.6);
    }
  }

  @media screen and (min-width: $tablet) {
    padding: 3rem;

    main & {
      padding: 6rem;

      > * {
        position: relative;
      }

      &:before {
        top: 3rem;
        left: 3rem;
        width: calc(100% - 6rem);
        height: calc(100% - 6rem);
      }
    }
  }

  @media screen and (min-width: $desktop) {
    main & {
      padding: 12rem;
      max-width: 88rem;

      &:before {
        top: 6rem;
        left: 6rem;
        width: calc(100% - 12rem);
        height: calc(100% - 12rem);
      }
    }
  }
}

.info__section {
  margin-top: 3rem;
  padding-top: 3rem;

  h2,
  .h2,
  h3,
  .h3 {
    margin-top: 0rem;
  }

  &--table {
    @media screen and (max-width: $columns) {
      position: relative;
      @include pseudo-after();

      &:after {
        height: 100%;
        width: 3rem;
        top: 0;
        right: -3rem;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
      }

      .table--scrolling {
        width: calc(100% + 3rem);
      }
    }
  }
}
