html,
body {
  height: 100%;
}

body {
  background: #fff;
  color: var(--body);
}

main {
  position: relative;
  min-height: 71rem;
  transition: all 0.2s ease;
  will-change: opacity;
  opacity: 0.999;

  .loading & {
    opacity: 0.001;
  }
}

.wrapper {
  overflow: hidden;
  margin: 0 auto;
}

.inner {
  max-width: 120rem;
  min-width: 32rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 1.5rem 3rem;

  main & {
    padding: 3rem;
    max-width: 75rem;
    @include pseudo-before();

    * {
      position: relative;
    }

    &:before {
      top: 1.5rem;
      left: 1.5rem;
      width: calc(100% - 3rem);
      height: calc(100% - 3rem);
      background: rgba(255, 255, 255, 0.5);
    }
  }

  @media screen and (min-width: $tablet) {
    padding: 3rem;

    main & {
      padding: 6rem;

      * {
        position: relative;
      }

      &:before {
        top: 3rem;
        left: 3rem;
        width: calc(100% - 6rem);
        height: calc(100% - 6rem);
      }
    }
  }
}
