.nav--primary {
  padding-left: 3rem;

  @media screen and (max-width: $columns - 1) {
    margin-right: -1rem;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    flex-shrink: 0;
  }

  a {
    display: block;
    min-width: 4.4rem;
    height: 4.4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav__icon {
      height: 50%;
      width: auto;
    }

    span {
      @media screen and (max-width: $columns - 1) {
        @include hidden();
      }
    }
  }

  @media screen and (min-width: $columns) {
    li:not(:last-of-type) {
      margin-right: 2rem;
    }

    a {
      color: mix(#b4dbd0, #ffffff, 40%);

      .nav__icon {
        margin-right: 0.75rem;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    li:not(:last-of-type) {
      margin-right: 3rem;
    }

    a {
      color: var(--white);

      .nav__icon {
        margin-right: 1rem;
      }
    }
  }
}
