* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: unset;
  font-size: unset;

  &:focus {
    outline: 0;
  }
}

button,
select,
input,
textarea {
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
button {
  &:hover {
    cursor: pointer;
  }
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
