table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  text-align: left;
  background: var(--green-dark);
  color: var(--white);
}

tbody tr:first-of-type {
  th,
  td {
    &:before {
      content: none;
    }
  }
}

th,
td {
  padding: 2rem;
  position: relative;
  @include pseudo-before();

  &:before {
    width: 100%;
    top: -0.1rem;
    left: 0;
    // border-top: 0.2rem solid var(--grey-light);
  }

  > * {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

td {
  vertical-align: middle;

  tr:nth-of-type(odd) & {
    --primary: var(--white);
    --secondary: var(--grey-light);
  }

  tr:nth-of-type(even) & {
    --primary: var(--grey-light);
    --secondary: var(--white);
  }

  background: var(--primary);

  &[rowspan] {
    text-shadow: 0 0 1rem var(--white); 
  }

  &[rowspan="2"] {
    background: linear-gradient(to bottom,
      var(--primary) 50%,
      var(--secondary) 50%,
      var(--secondary) 100%);
  }

  &[rowspan="3"] {
    background: linear-gradient(to bottom,
      var(--primary) 33.33%,
      var(--secondary) 33.33%,
      var(--secondary) 66.66%,
      var(--primary) 66.66%,
      var(--primary) 100%);
  }

  &[rowspan="4"] {
    background: linear-gradient(to bottom,
      var(--primary) 25%,
      var(--secondary) 25%,
      var(--secondary) 50%,
      var(--primary) 50%,
      var(--primary) 75%,
      var(--secondary) 75%,
      var(--secondary) 100%);
  }

  img {
    width: 3rem;
    height: auto;
    margin: auto;
  }
}

.scrolling-table {
  margin-top: 3rem;
  overflow-x: auto;
  width: 100%;

  th,
  td {
    white-space: nowrap;

    @media screen and (max-width: $tablet) {
      padding-right: 2rem;
    }
  }
}
