table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  text-align: left;
  background: var(--green-dark);
  color: var(--white);
}

tbody tr:first-of-type {
  th,
  td {
    &:before {
      content: none;
    }
  }
}

th,
td {
  padding: 2rem;

  > * {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

td {
  background: var(--primary);
  vertical-align: middle;

  tr:nth-of-type(odd) & {
    --primary: var(--white);
    --secondary: var(--grey-light);
  }

  tr:nth-of-type(even) & {
    --primary: var(--grey-light);
    --secondary: var(--white);
  }

  &[rowspan] {
    text-shadow: 0 0 1rem var(--white);
  }

  &:not([rowspan="1"]) {
    a {
      position: relative;
      @include pseudo-blocks();

      &:before,
      &:after {
        position: absolute;
        @include central-x();
        height: var(--height);
        width: 0.1rem;
        background: var(--border);
      }

      &:before {
        top: calc(-1 * var(--offset));
      }

      &:after {
        bottom: calc(-1 * var(--offset));
      }
    }
  }

  &[rowspan="2"] {
    --height: 3rem;
    --offset: 4rem;
    background: linear-gradient(to bottom,
      var(--primary) 50%,
      var(--secondary) 50%,
      var(--secondary) 100%);
  }

  &[rowspan="3"] {
    --height: 6.5rem;
    --offset: 7.5rem;
    background: linear-gradient(to bottom,
      var(--primary) 33.33%,
      var(--secondary) 33.33%,
      var(--secondary) 66.66%,
      var(--primary) 66.66%,
      var(--primary) 100%);
  }

  &[rowspan="4"] {
    --height: 10rem;
    --offset: 11rem;
    background: linear-gradient(to bottom,
      var(--primary) 25%,
      var(--secondary) 25%,
      var(--secondary) 50%,
      var(--primary) 50%,
      var(--primary) 75%,
      var(--secondary) 75%,
      var(--secondary) 100%);
  }

  img {
    width: 3rem;
    height: auto;
    margin: auto;
  }
}

.scrolling-table {
  margin-top: 3rem;
  overflow-x: auto;
  width: 100%;

  th,
  td {
    white-space: nowrap;

    @media screen and (max-width: $tablet) {
      padding-right: 2rem;
    }
  }
}
