table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  text-align: left;
  background: var(--green-dark);
  color: var(--white);
}

tbody tr:first-of-type {
  th,
  td {
    &:before {
      content: none;
    }
  }
}

th,
td {
  padding: 2rem;

  > * {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

td {
  background: var(--primary);
  vertical-align: middle;

  tr:nth-of-type(odd) & {
    --primary: var(--white);
    --secondary: var(--grey-light);
  }

  tr:nth-of-type(even) & {
    --primary: var(--grey-light);
    --secondary: var(--white);
  }

  &[rowspan] {
    text-shadow: 0 0 1rem var(--white);
  }

  &:not([rowspan="1"]) {
    a {
      position: relative;
      @include pseudo-blocks();

      &:before,
      &:after {
        position: absolute;
        @include central-x();
        height: var(--height);
        width: 0.1rem;
        background: var(--border);
      }

      &:before {
        top: calc(-1 * var(--offset));
      }

      &:after {
        bottom: calc(-1 * var(--offset));
      }
    }
  }

  &[rowspan="2"] {
    --height: 3rem;
    --offset: 4rem;
    background: linear-gradient(to bottom,
      var(--primary) 50%,
      var(--secondary) 50%,
      var(--secondary) 100%);
  }

  &[rowspan="3"] {
    --height: 6.5rem;
    --offset: 7.5rem;
    background: linear-gradient(to bottom,
      var(--primary) 33.33%,
      var(--secondary) 33.33%,
      var(--secondary) 66.66%,
      var(--primary) 66.66%,
      var(--primary) 100%);
  }

  &[rowspan="4"] {
    --height: 10rem;
    --offset: 11rem;
    background: linear-gradient(to bottom,
      var(--primary) 25%,
      var(--secondary) 25%,
      var(--secondary) 50%,
      var(--primary) 50%,
      var(--primary) 75%,
      var(--secondary) 75%,
      var(--secondary) 100%);
  }

  img {
    width: 3rem;
    height: auto;
    margin: auto;
  }
}

.table {
  display: block;
  transition: max-height 0.35s ease;
  overflow: hidden;
  margin: 0;
  max-height: calc(var(--table) * 0.1rem);

  &--collapsed {
    max-height: calc(calc(var(--table) / 13) * 7 * 0.1rem);
  }

  &--scrolling {
    margin-top: 3rem;
    overflow-x: auto;
    width: 100%;

    th,
    td {
      white-space: nowrap;

      @media screen and (max-width: $tablet) {
        padding-right: 2rem;
      }
    }
  }

  + button {
    margin-top: 3rem;
  }
}

.info__section--table {
  @media screen and (max-width: $columns) {
    position: relative;
    @include pseudo-after();

    &:after {
      height: 100%;
      width: 3rem;
      top: 0;
      right: -3rem;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);
    }

    .table--scrolling {
      width: calc(100% + 3rem);
    }
  }
}
