html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-family: var(--serif);
  font-weight: normal;
  font-weight: 500;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.3;
  color: var(--body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  // text-shadow: 0rem 0rem 3rem var(--white);
}

h1,
.h1,
p,
input,
textarea {
  font-family: var(--slab);
}

h1,
.h1 {
  font-weight: 300;
}

h2,
.h2,
h3,
.h3 {
  margin: 6rem 0 2rem;
}

h1,
.h1 {
  font-size: 3.2rem;

  * {
    display: block;
    margin-top: -0.5rem;
  }
}

h2,
.h2,
strong,
th {
  font-weight: 650;
}

h2,
.h2 {
  font-size: 2.4rem;
}

h3,
.h3 {
  font-size: 1.8rem;
}

p {
  margin-top: 1.5rem;
  font-weight: 300;

  + picture,
  + img,
  + section {
    margin-top: 3rem;
  }
}

button,
.button,
strong,
small {
  font-family: var(--serif);
}

small {
  font-size: 1.2rem;
}

[property] {
  display: block;
}

.central {
  text-align: center;
}

@media screen and (min-width: $tablet) {
  h1,
  .h1 {
    * {
      margin: 0;
    }
  }
}

@media screen and (min-width: $desktop) {
  body {
    font-size: 1.8rem;
  }

  h1,
  .h1 {
    font-size: 4rem;
  }

  h2,
  .h2 {
    font-size: 2.8rem;
  }

  h3,
  .h3 {
    font-size: 2.4rem;
  }

  p {
    margin-top: 3rem;

    + img,
    + section {
      margin-top: 4rem;
    }
  }
}
