:root {
  --black: #000;
  --body: #333337;
  --border: #d4dbde;
  --grey-dark: #010101;
  --grey: #1d1d1b;
  --grey-light: #f2f2f2;
  --white: #fff;
  --green-dark: #7ab2a1;
  --green: #8bbaa9;
  --green-mint: #b4dbd0;
  --green-light: #e1f1ec;
  --pink: #edc9c9;
  --peach: #e5ada3;

  --slab: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

$columns: 500px;
$tablet: 750px;
$desktop: 1000px;
