.map {
  width: 100%;
  height: 50rem;

  &__container {
    width: 100%;
    height: 100%;
  }

  &__pin {
    display: block;
    background: url('./../../assets/icons/info/pin.svg') 50% 50% no-repeat;
    background-size: auto 100%;
    height: 6rem;
    width: 4rem;
  }

  > * {
    opacity: 0.001;
    transition: all 0.3s ease-out;
    will-change: opacity;
  }

  &--loaded > * {
    opacity: 0.999;
  }
}
