// @import 'mixins';

html,
body {
  height: 100%;
}

body {
  background: #fff;
  color: var(--grey);
}

main {
  position: relative;
  min-height: 71rem;
}

.wrapper {
  overflow: hidden;
}

.inner {
  width: 100%;
  max-width: 120rem;
  min-width: 32rem;
  margin: 0 auto;
  position: relative;
  padding: 2rem 3rem;
}
