:root {
  --grey: #333337;
  --white: #fff;
  --green-light: #b8ddd0;
  --green-dark: #8bbaa9;
  --peach-light: #e8c9c6;
  --peach-dark: #e1b3ab;

  --slab: 'Roboto Slab', Helvetica, Arial, sans-serif;
}
